ul[aria-label="Direct Messages"] > li:has(> div > a[data-list-item-id$="___shop"]), /* Nukes the Shop */
li:has(> div > a[data-list-item-id$="___nitro"]), /* Nukes Nitro on friends page */
li:has(> div > a[data-list-item-id$="___quests"]), /* Nukes Quests on friends page */
div[aria-label="Members"] > h3.membersGroup_c8ffbb:has(> span.headerContainer__095fe > div), /* nukes activity header */
div[aria-label="Members"] > div:has(> div[role="listitem"] > div.openOnHover__0f2e8), /* nukes activity divs */
div.container__675e5:has(> h2.privateChannelsHeaderContainer__99e7c) { /* nukes play again divs */
    display: none;
    pointer-events: none;
}